@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Headings */

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

.section-title {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

/* Logo */

#logo {
    float: left;
    font-size: 2.8rem;
    margin-left: 15px;
}

/* Navigation Menu */

#menu {
    font-size: 1.1rem;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* Hero Image */

#hero-image-div {
    background: url(../images/hero-image.jpg) no-repeat center center;
    height: 750px;
    width: 100%;
    clear: both;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cover Text */

#cover-text {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    height: 150px;
    width: 50%;

    border-radius: 15px;
}

#cover-text h2 {
    font-size: 3.64rem;
}

#cover-text h3 {
    font-size: 1.521rem;
}

/* About Section */

#about-section {
    height: 750px;
    padding-top: 20px;

    /* background-color: blanchedalmond; */
}

#about {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: lightblue; */
}

#about > div {
    /* background-color: red; */
}

.about-img {
    width: 40%;
    height: auto;
    border-radius: 15px;
    border: #3b6385 3px outset;
}

#img-left {
    margin-right: 20px;
}

#img-right {
    margin-left: 20px;
}

.about-heading {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.about-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;

    /* background-color: silver; */
}

.about-div {
    display: flex;
    height: 300px;
    width: 66%;
    padding: 0 20px 20px;
}

#top-about-div {
    flex-direction: row-reverse;
    padding-top: 20px;
}

/* Footer */

footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
}
